# ==============================
# Keep project files
# ==============================
!deMUX1to4.vhd
!deMUX1to4_tb.vhd
!deMUX1to4.mpf
!vsim.wlf
!.vscode/
!.vscode/*

# ==============================
# Ignore typical ModelSim temporary files
# ==============================
*.wlf~
*.log
*.jou
*.daidir
*.history
*.sim

# ==============================
# Ignore OS junk files
# ==============================
.DS_Store
Thumbs.db
desktop.ini